<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!--icon library-->
    <link rel="stylesheet"
        href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body onload="setUp()">

    <img src="/static/stocklogo.png" width="30%" style="margin-top:1%">
    <h3 id ="balence" style="text-align:left; margin-top:2%; margin-left:5%">Balance: </h3>
    <!-- button to bring user to the stock list page -- (will bring them to another page to choose stocks) -->
    <div id="button" style="text-align:right;">
        <button id="AddButton" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#stockpop"
            style="margin-top:5%; margin-right:2%">Add Stock</button>

        <button type = "button" onClick="redirectPortfolio()" class="btn btn-outline-primary" style="margin-top:5%; margin-right:2%">Portfolio</button>
    </div>

    <!--pop-up for the user to choose the stock-->
    <div id="stockpop" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Stock Market</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="searching" placeholder="Search" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <h1 style="margin-top:20%"></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" id="testbutton" class="btn btn-outline-primary"
                        data-dismiss="modal">Continue</button>
                </div>
            </div>

        </div>
    </div>
    <table class="table table-responsive table-hover" style="margin-top:5%">
        <thead>
            <tr>
                <!--table headers -->
                <th scope="col" style="font-size:150%; color:lightblue;"></th>
                <th scope="col" style="font-size:150%; color:lightblue;">Symbol</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Price</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Change</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Amount</th>
                <th scope="col" style="font-size:150%; color:transparent;">asdaasdf</th>

            </tr>
        </thead>
        <tbody id="stockList">
            <!-- TABLE -->
        </tbody>


    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var x = 0;
        var stocks = [];
        var newStock = $('#stockList')
        function setUp() {
            $.ajax({
                type: 'POST',
                url: '/getWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                },
                success: function (data) {
                    console.log(data)
                    for (let i = 0; i < data.result.length; i++) {

                        newStock.append('<tr id="d' + (x * -1) + '"> <th scope="row"></th> <td>' + data.result[i].symbol + '</td> <td>' + data.result[i].price + '</td> <td>' + data.result[i].change + '</td> <td> <div class="form-group"> <!-- <label for="stockAmount">Amount</label>--> <input type="number" class="form-control" id="stockAmount' + x + '"style="width:40%"> </div> </td> <td style="text-align:left;"> <button type="button" id="' + x + '" class="btn btn-outline-primary" style="width:50%" onclick="buy(this.id)">Buy</button> <button type="button" id="' + x * 10 + '" class="btn btn-primary" style="width:25%; background-color: #f44336;" onclick="del(this.id)">Del</button> </td> </tr> </tr>')
                        stocks.push(data.result[i].symbol)
                        x++
                    }
                },
                error: function () {
                    console.log("Error has occured get watch list")
                }
            });
            $.ajax({
                type: 'POST',
                url: '/balence',
                data: {
                    username: window.location.pathname.split("/")[2],
                },
                success: function (data) {
                    document.getElementById('balence').innerHTML = "Balance: " + data.result.toFixed(2)
                },
                error: function () {
                    console.log("Error has occured ballence")
                }
            });
        }

        document.getElementById('testbutton').onclick = function () {


            $.ajax({
                type: 'POST',
                url: '/addWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                    symbol: searching.value
                },
                success: function (data) {
                    console.log(data.result)
                    if (data.result == 'success') {
                        // newStock.append('<tr id="d' + (x * -1) + '"> <th scope="row"></th> <td>' + data.stock.symbol + '</td> <td>' + data.stock.price + '</td> <td>' + data.stock.change + '</td> <td> <div class="form-group"> <!-- <label for="stockAmount">Amount</label>--> <input type="number" class="form-control" id="stockAmount' + x + '"style="width:40%"> </div> </td> <td style="text-align:left;"> <button type="button" id="' + x + '" class="btn btn-outline-primary" style="width:50%" onclick="buy(this.id)">Buy</button> <button type="button" id="' + x * 10 + '" class="btn btn-primary" style="width:25%; background-color: #f44336;" onclick="del(this.id)">Del</button> </td> </tr> </tr>')
                        // stocks.push(data.stock.symbol)
                        // x++
                        update();
                    } else {
                        alert(data.result)
                    }
                }
            });

        }


        function buy(id) {
            var shares = document.getElementById(('stockAmount' + id)).value
            var sym = stocks[parseInt(id)]
            $.ajax({
                type: 'POST',
                url: '/buyStock',
                data: {
                    username: window.location.pathname.split("/")[2],
                    symbol: sym,
                    share: shares
                },
                success: function (data) {
                    if (data.result == 'success'){
                        alert('Successfully purchased ' + shares + " shares of " + sym)
                        update();
                    }else {
                        alert(data.result)
                    }
                }
            });
        }

        function del(id) {
            $.ajax({
                type: 'POST',
                url: '/removeWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                    symbol: stocks[parseInt((id / 10))]
                },
                success: function () {
                    update();
                    console.log("SUCCESS")
                },
                error: function () {
                    console.log("ERROR")
                }
            });
        }

        function update() {
            console.log(x)
            for (var i = 0; i < x; i++) {
                var myobj = document.getElementById("d" + (i * -1));
                myobj.remove();
            }
            x = 0;
            stocks = [];
            setUp();
        }



        // setInterval(() => {
        //     console.log('refresh')
        //     $.ajax({
        //         ype: 'POST',
        //         url: '/getWatchList',
        //         data: {
        //             username: window.location.pathname.split("/")[2],
        //         },
        //         success: function (data) {
        //             console.log(data)
        //             for (let i = 0; i < data.result.length; i++) {
                        
        //             }
        //         }
        //     })
        // }, 10000);





        // myLoop();
        // var i = 1;                  //  set your counter to 1




        // function myLoop() {         //  create a loop function
        //     setTimeout(function () {   //  call a 3s setTimeout when the loop is called
        //         console.log('refresh')
        //         update()              //  your code here
        //         // i++;                    //  increment the counter
        //         // if (i < 10) {           //  if the counter < 10, call the loop function
        //         //     myLoop();             //  ..  again which will trigger another 
        //         // }                       //  ..  setTimeout()
        //     }, 10000)
        // }



        function redirectPortfolio(){
            window.location.pathname = "/portfolio/" + window.location.pathname.split("/")[2]
        }



    </script>

    <script src="/static/js/bootstrap.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>




</body>

</html>
