<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!--icon library-->
    <link rel="stylesheet"
        href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body onload="setUp()">

    <img src="/static/stocklogo.png" width="30%" style="margin-top:1%">

    <!-- button to bring user to the stock list page -- (will bring them to another page to choose stocks) -->
    <div id="button" style="text-align:right;">
        <button id="AddButton" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#stockpop"
            style="margin-top:5%; margin-right:2%">Add Stock</button>
        <a href="portfolio.html" class="btn btn-outline-primary" style="margin-top:5%; margin-right:2%">Portfolio</a>
    </div>

    <!--pop-up for the user to choose the stock-->
    <div id="stockpop" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Stock Market</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="searching" placeholder="Search" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <h1 style="margin-top:20%"></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" id="testbutton" class="btn btn-outline-primary"
                        data-dismiss="modal">Continue</button>
                </div>
            </div>

        </div>
    </div>
    <table class="table table-responsive table-hover" style="margin-top:5%">
        <thead>
            <tr>
                <!--table headers -->
                <th scope="col" style="font-size:150%; color:lightblue;"></th>
                <th scope="col" style="font-size:150%; color:lightblue;">Symbol</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Price</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Change</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Amount</th>
                <th scope="col" style="font-size:150%; color:transparent;">asdaasdf</th>

            </tr>
        </thead>
        <tbody id="stockList">

            <!--one row of the table-->
            <tr>
                <th scope="row"></th>
                <td>APPL</td>
                <td>##</td>
                <td>%%</td>
                <td>
                    <div class="form-group">
                        <!--                                <label for="stockAmount">Amount</label>-->
                        <input type="number" class="form-control" id="stockAmount" style="width:40%">
                    </div>
                </td>
                <td style="text-align:left;">
                    <button type="button" class="btn btn-outline-primary" style="width:50%">Buy</button>
                </td>

            </tr>

            <tr class="clickable" data-toggle="collapse" id="stock2" data-target=".stock2">
                <th scope="row"></th>
                <td>Amazon</td>
                <td>##</td>
                <td>%%</td>
                <td>
                    <div class="form-group">
                        <!--                                <label for="stockAmount">Amount</label>-->
                        <input type="number" class="form-control" id="stockAmount" style="width:40%">
                    </div>
                </td>
                <td style="text-align:left;">
                    <button type="button" class="btn btn-outline-primary" style="width:50%">Buy</button>
                </td>

            </tr>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>S&P 500</td>
                <td>##</td>
                <td>%%</td>
                <td>
                    <div class="form-group">
                        <!--                                <label for="stockAmount">Amount</label>-->
                        <input type="number" class="form-control" id="stockAmount" style="width:40%">
                    </div>
                </td>
                <td style="text-align:left;">
                    <button id="buyButton" type="button" class="btn btn-outline-primary" style="width:50%">Buy</button>
                </td>

            </tr>
            </tr>



        </tbody>


    </table>


    <!--    <script>-->
    <!--        document.getElementById('testbutton').onclick = function() {-->
    <!--            alert("button was clicked");-->
    <!--            var i=4;-->
    <!--            var div=document.createElement('div');-->

    <!--        };-->

    <!--    </script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var x = 0;
        var newStock = $('#stockList')
        function setUp() {
            $.ajax({
                type: 'POST',
                url: '/addWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                },
                success: function (data) {
                    console.log("ASDLKL")
                    for (let i = 0; i < data.length; i++) {
                        x++
                        newStock.append(' </tr> </tr> <tr> <th scope="row"></th> <td>' + data[i].stock.symbol + '</td> <td>' + data[i].stock.price + '</td> <td>' + data[i].stock.change + '</td> <td> <div class="form-group"> <!-- <label for="stockAmount">Amount</label>--> <input type="number" class="form-control" id="stockAmount" style="width:40%"> </div> </td> <td style="text-align:left;"> <button type="button" class="btn btn-outline-primary" style="width:50%">Buy</button> </td> </tr> </tr>')
                    }
                },
                error: function(){
                    console.log("Error has occured")
                }
            });
        }

        document.getElementById('testbutton').onclick = function () {
            x++
            
            $.ajax({
                type: 'POST',
                url: '/addWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                    symbol: searching.value
                },
                success: function (data) {
                    console.log(data.result)
                    if (data.result == 'success') {
                        newStock.append(' </tr> </tr> <tr> <th scope="row"></th> <td>' + data.stock.symbol + '</td> <td>' + data.stock.price + '</td> <td>' + data.stock.change + '</td> <td> <div class="form-group"> <!-- <label for="stockAmount">Amount</label>--> <input type="number" class="form-control" id="stockAmount" style="width:40%"> </div> </td> <td style="text-align:left;"> <button type="button" class="btn btn-outline-primary" style="width:50%">Buy</button> </td> </tr> </tr>')
                    } else {
                        alert(data.result)
                    }
                }
            });
        }

        document.getElementById('buyButton').onclick = function () {
            var newStock = $('#stockList')
            $.ajax({
                type: 'POST',
                url: '/addWatchList',
                data: {
                    username: window.location.pathname.split("/")[2],
                    symbol: searching.value
                },
                success: function (data) {
                    console.log(data.result)
                    if (data.result == 'success') {
                        newStock.append(' </tr> </tr> <tr> <th scope="row"></th> <td>' + data.stock.symbol + '</td> <td>' + data.stock.price + '</td> <td>' + data.stock.change + '</td> <td> <div class="form-group"> <!-- <label for="stockAmount">Amount</label>--> <input type="number" class="form-control" id="stockAmount" style="width:40%"> </div> </td> <td style="text-align:left;"> <button type="button" class="btn btn-outline-primary" style="width:50%">Buy</button> </td> </tr> </tr>')
                    } else {
                        alert(data.result)
                    }
                }
            });


        }
    </script>

    <script>
        let colTitles = ['This is collum', 'George cringe', 'Fred cool af']
        for (let i = 0; i < colTitles.length; i++) {
            let a = document.createElement('div')
            let b = document.createElement('h6')
            b.className = "myStyles another-class class2 class3"
            b.textContent = colTitles[i]
            a.appendChild(b)
            document.querySelector('.main').appendChild(a)
        }

    </script>

    <script src="/static/js/bootstrap.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>




</body>

</html>