<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->


</head>

<body onload="setUp()">
    <!-- <body> -->

    <div class="container">
        <div class="row">
            <div class="col-4" style="margin-top:5%;text-align:left;">
                <!-- <button onClick="redirectWatchList()">Watchlist</button> -->
                <button type = "button" onClick="redirectWatchList()" class="btn btn-outline-primary" style="margin-top:5%; margin-right:2%">Watchlist</button>
            </div>
            <div class="col-4">
                <h1 style="text-align:center; margin-top:7%">Portfolio</h1>

            </div>
            <div class="col-4">
                <h3 id="balence" style="text-align:center; margin-top:11%">Balance: </h3>

            </div>

        </div>
    </div>



    <div class="main">



    </div>
    <table class="table table-responsive table-hover" style="margin-top:5%">
        <thead>
            <tr>
                <!--table headers -->
                <th scope="col" style="font-size:150%; color:lightblue;"></th>
                <th scope="col" style="font-size:150%; color:lightblue;">Symbol</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Price</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Share</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Value</th>
                <th scope="col" style="font-size:150%; color:lightblue;">Amount</th>
                <th scope="col" style="font-size:150%; color:transparent;">asdaasdf</th>

            </tr>
        </thead>
        <tbody>

        </tbody>


    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var count = 0;

        function redirectWatchList(){
            window.location.pathname  = '/userhome/' + window.location.pathname.split("/")[2]
        }

        function setUp() {
            $.ajax({
                type: 'POST',
                url: '/getOwnedStock',
                data: {
                    username: window.location.pathname.split("/")[2]
                },
                success: function (data) {
                    console.log(data)
                    let result = data.result
                    document.querySelector("#balence").textContent = document.querySelector("#balence").textContent.split(" ")[0] + " " + result.balence.toFixed(2);

                    var stocks = result.stocks
                    var totalValue = result.totalValue

                    for (let i = 0; i < stocks.length; i++) {
                        symbol = stocks[i].symbol
                        price = stocks[i].price.toFixed(2)
                        share = stocks[i].share
                        value = stocks[i].value.toFixed(2)

                        let a = document.createElement('tr');
                        a.id = "row" + count;
                        let x = document.createElement('th');
                        let symbolb = document.createElement('td');
                        symbolb.id = "symbol" + count;
                        let pricec = document.createElement('td');
                        pricec.id = "price" + count;
                        let shared = document.createElement('td');
                        shared.id = "share" + count;
                        let valuee = document.createElement('td');
                        valuee.id = "value" + count;
                        let inputText = document.createElement('input');
                        inputText.id = "inputText" + count;
                        let sellBut = document.createElement('button');
                        sellBut.id = "sellBut" + count;
                        sellBut.type = "submit"
                        x.scope = "row";
                        x.textContent = " "
                        symbolb.textContent = symbol;
                        pricec.textContent = price;
                        shared.textContent = share;
                        valuee.textContent = value;
                        inputText.type = "number";
                        inputText.className = "form-group ";
                        inputText.style = "width:40%;";
                        sellBut.class = "btn btn-outline-primary";
                        sellBut.style = "width:30%; margin-left:10%";
                        sellBut.textContent = "Sell";

                        a.appendChild(x);
                        a.appendChild(symbolb);
                        a.appendChild(pricec);
                        a.appendChild(shared);
                        a.appendChild(valuee);
                        a.appendChild(inputText);
                        a.appendChild(sellBut);


                        document.querySelector('.table').appendChild(a);

                        document.getElementById('sellBut' + count).onclick = function () {
                            let id = sellBut.id.split("t")[1]
                            let share = parseInt(document.querySelector("#inputText" + id).value)
                            let symbol = document.querySelector("#symbol" + id).textContent
                            console.log("button was clicked   " + id);
                            console.log(symbol, share, '              being selled')
                            console.log(typeof(share))


                            $.ajax({

                                type: 'POST',
                                url: '/sellStock',
                                data: {
                                    username: window.location.pathname.split("/")[2],
                                    symbol: symbol,
                                    share: share
                                },
                                success: function (data) {
                                    console.log('here is the result', data)
                                    if (data.result == "success") {
                                        let stock = data.stock;
                                        if (stock == 'empty') {
                                            // document.querySelector('.table').popChild("row" + id);
                                            console.log('poooooooooooooooooooooooooooooop')
                                            location.reload()
                                        }
                                        else {
                                            console.log("price" + id)
                                            let oldValue = parseFloat(document.querySelector("#value" + id).textContent);
                                            console.log(oldValue)
                                            let currentBalance = parseFloat(document.querySelector("#balence").textContent.split(" ")[1])
                                            console.log(currentBalance)
                                            document.querySelector("#balence").textContent = document.querySelector("#balence").textContent.split(" ")[0] + " " + (currentBalance + oldValue - stock.value).toFixed(2);

                                            document.querySelector("#price" + id).textContent = stock.price;
                                            document.querySelector("#share" + id).textContent = stock.share;
                                            document.querySelector("#value" + id).textContent = stock.value;

                                        }

                                    }
                                    else {
                                        alert(data.result)
                                    }
                                }

                            })


                        }

                        count++;

                    };
                },
                error: function () {
                    alert('ajax error')
                }
            })
        }





    </script>

    <script src="/static/js/bootstrap.js"></script>

</body>

</html>