<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
</head>

<body style="background-image: url('/static/stock.jpg');">

    <div class="container">
        <div class="row">
            <div class="col-3">

            </div>

            <div class="col-6">

                <img src="/static/logo.png" width="100%" style="margin-top:10%">
                <h2 style="margin-top:5%; font-size: 150%; text-align:center; color:white;" id="signup-subheader">Sign
                    Up!</h2>


                    <!--email-->
                    <div class="form-group" style="margin-top:9%">
                        <label for="email-field" style="color:white;">Email</label>
                        <input type="email" name="username" id="email-field" class="form-control" placeholder="Email">

                    </div>

                    <!--username-->
                    <div class="form-group" style="margin-top:5%">
                        <label for="username-field" style="color:white;">Username</label>
                        <input type="text" name="username" id="username-field" class="form-control"
                            placeholder="Username">

                    </div>

                    <!--password-->
                    <div class="form-group" style="margin-top:5%">
                        <label for="password-field" style="color:white;">Password</label>
                        <input name="password" id="password-field" class="form-control" type="Password"
                            placeholder="Password">

                    </div>

                    <!-- signup button-->
                    <button class="d-grid gap-1 btn btn-outline-primary btn-block" style="margin-top:10%; width: 100%;" id="signup-button">Sign Up</button>


            </div>

            <div class="col-3">

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
            var email = document.getElementById('email-field');
            var username = document.getElementById('username-field');
            var password = document.getElementById('password-field');

            document.getElementById('signup-button').onclick = function () {
                $.ajax({
                    type: 'POST',
                    url: '/newUser',
                    data: {email: email.value,
                    username: username.value,
                    password: password.value},
                    success: function (data) {
                        console.log(data)
                    },
                    error: function () {
                        alert('error')
                    }
                })
            };
    </script>
 
</body>

</html>