<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Simulator (Login)</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/background.css">

</head>

<body style="background-image: url('stock.jpg');">

<div class="main-wrapper" style="height:100hv">



    <div class="container" style="height:100%">
      <div class="row">
        <div class="col-8" >
          <h1 style="font-size:70px; text-align:center; color:white; margin-top: 50%;">Stock Simulator</h1>

        </div>

          <!--column 2-->
        <div class="col-4" >

            <div id="button" style="text-align:right;">
                    <a style="margin-top:5%;" href="signUp.html" role="button" class="btn btn-outline-primary">Sign Up</a>
            </div>

            <h1 style="margin-top:80px; font-size: 40px; text-align:center; color:white;" id="login-header">Welcome!</h1>
            <h3 style="margin-top:10px; font-size: 20px; text-align:center; color:white;" id="login-subheader">Sign in to your account</h3>

            <form id="login-form" style="margin-top:20px">
                <div class="form-group" style="margin-top:100px">
                    <label for="username-field" style="color:white;">Username</label>
                    <input  type="text" name="username" id="username-field" class="form-control" placeholder="Username" >

                </div>

                <div class="form-group" style="margin-top:15px">
                    <label for="password-field" style="color:white;">Password</label>
                    <input name="password" id="password-field" class="form-control" type = "Password" placeholder = "Password" >

                </div>

                <!-- login button-->
                <div class="d-grid gap-1">
                    <a style="margin-top:18%;" role="button" id="signin" class="btn btn-primary btn-block">Login</a>

                </div>

                <!--to extend the container to the bottom (can change if we add more things to the other container)-->
                <div id="space" style="height:100%">
                    <h1 style="font-size:10%; text-align:center; color:lightblue; margin-top: 55%;">Stock Simulator</h1>
                </div>

            </form>


        </div>


      </div>
    </div>

</div>


    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>

</body>
</html>