<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Simulator (Login)</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/background.css">

</head>

<body style="background-image: url('/static/stock.jpg'); background-repeat: no-repeat;">

    <div class="main-wrapper" style="height:100hv">



        <div class="container" style="height:100%">
            <div class="row">
                <div class="col-8">
                    <img src="/static/logo.png" width="100%" style="margin-top:45%">

                </div>

                <!--column 2-->
                <div class="col-4">


                    <h1 style="margin-top:80px; font-size: 40px; text-align:center; color:white;" id="login-header">
                        Welcome!</h1>
                    <h3 style="margin-top:10px; font-size: 20px; text-align:center; color:white;" id="login-subheader">
                        Sign in to your account</h3>

                    <div class="form-group" style="margin-top:100px">
                        <label for="username-field" style="color:white;">Username</label>
                        <input type="text" name="username" id="username-field" class="form-control"
                            placeholder="Username">

                    </div>

                    <div class="form-group" style="margin-top:15px">
                        <label for="password-field" style="color:white;">Password</label>
                        <input name="password" id="password-field" class="form-control" type="Password"
                            placeholder="Password">
                    </div>

                    <!-- login button-->
                    <button class="d-grid gap-1 btn btn-outline-primary btn-block" style="margin-top:20px; width:100%"
                        role="button" id="signin">Login</button>
                    <a class="d-grid gap-1 btn btn-outline-primary btn-block" href="/signup"
                        style="margin-top:10px; width:100%" role="button" id="signup">Sign up</a>
                </div>


            </div>
        </div>

    </div>


    <script src="/static/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var username = document.getElementById('username-field');
        var password = document.getElementById('password-field');

        document.getElementById('signin').onclick = function () {
            $.ajax({
                type: 'POST',
                url: '/authenticate',
                data: {
                    username: username.value,
                    password: password.value
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "success") {
                        window.location.pathname = "/userhome/"+username.value;
                    } else {
                        alert(data.result)
                    }
                },
                error: function () {
                    alert('error')
                }
            })
        };
    </script>

</body>

</html>